<div class="page">
    <div class="form-container">
        <div class="logo">
            <img src="https://images.credly.com/images/5bcb47d3-9f2d-4ec2-b11e-4e1917e7f71d/blob.png"/>
        </div>
        <div class="title">
            <h2><b>Campaña del cuidado de la salud - UCU 2023</b></h2>
        </div>
        <div class="subtitle">
            Seleccione Ingresar si ya tiene un usuario. De lo contrario, seleccione Registrarme.
        </div>
        <div class="buttons-container">
            <button class="myBtn login" (click)="login()">Ingresar</button>
            <button class="myBtn register" (click)="register()">Registrarme</button>
        </div>
    </div>
</div>