<div class="page">
    <div class="form-container">
        <h2 class="form-title">Formulario de Periodos de Actualizacion</h2>
        <form #userForm="ngForm" (ngSubmit)="changeUpdatePeriods()">
            <div class="form-group">
                <label for="year">Año</label>
                <input type="text" class="form-control" id="year" required [(ngModel)]="model.year" name="year"
                    #year="ngModel">
                <div [hidden]="year.valid || year.pristine" class="alert alert-danger">
                    El campo 'Año' es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="semester">Semestre</label>
                <select class="form-control" id="semester" required [(ngModel)]="model.semester" name="semester"
                    #semester="ngModel">
                    <option *ngFor="let semester of ['Primer Semestre', 'Segundo Semestre']" [value]="semester">{{semester}}</option>
                </select>
                <div [hidden]="semester.valid || semester.pristine" class="alert alert-danger">
                    El campo 'Semestre' es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="startDate">Fecha de inicio (MM/DD/YYYY)</label>
                <input type="text" class="form-control" id="startDate" required [(ngModel)]="model.startDate"
                    name="startDate" #startDate="ngModel">
                <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger">
                    El campo 'Fecha de inicio' es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="endDate">Fecha de vencimiento (MM/DD/YYYY)</label>
                <input type="text" class="form-control" id="endDate" required [(ngModel)]="model.endDate" name="endDate"
                    #endDate="ngModel">
                <div [hidden]="endDate.valid || endDate.pristine" class="alert alert-danger">
                    El campo 'Fecha de vencimiento' es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="logId">LogId</label>
                <input type="text" class="form-control" id="logId" required [(ngModel)]="model.logId" name="logId"
                    #logId="ngModel">
                <div [hidden]="logId.valid || logId.pristine" class="alert alert-danger">
                    El campo 'LogId' es obligatorio
                </div>
            </div>
            <div class="form-group">
                <label for="password">Contraseña</label>
                <input type="text" class="form-control" id="password" required [(ngModel)]="model.password" name="password"
                    #password="ngModel">
                <div [hidden]="password.valid || password.pristine" class="alert alert-danger">
                    El campo 'Contraseña' es obligatorio
                </div>
            </div>
            <button type="submit" class="btn" [class.btn-success]="userForm.form.valid"
                [class.btn-danger]="!userForm.form.valid" [disabled]="!userForm.form.valid">Actualizar Periodos</button>
        </form>
    </div>
</div>